* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.w3-animate-fading {
    animation: fading 10s infinite
}

@keyframes fading {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

a {
    text-decoration: none;
}

nav,
footer {
    background-color: #3D5AFE;
}

h5 {
    font-weight: 600;
}

.copyright {
    text-shadow: 0px 0px 1px white;
    font-size: larger;
}

footer a {
    font-size: larger;
    text-decoration: none;
    color: white;
    transition: all 0.4s;
}

footer a:hover {
    color: #1A237E;
}

.nav-item a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 15px;
    transition: all 0.4s;
}

.nav-item a:hover {
    color: #1A237E;
}

.navbar-brand {
    height: 50px;
    width: 50px;
}

.search {
    /* height:50px; */
    outline: none;
    border: 2px solid #0D47A1;
    background-color: transparent;
    border-radius: 20px 0px 0px 20px;
    border-right: none;
}

.search:focus {
    outline: none;
    box-shadow: none;
    border: 2px solid #0D47A1;
    border-right: none;
}

.btn-search {
    outline: none;
    color: white;
    background-color: #0D47A1;
    border: none;
    border-radius: 0px 20px 20px 0px;
}

.btn-search:hover {
    background-color: #1A237E;
    color: white;
}

.main {
    /* background:url(images/smartphone-3317374_1920.jpg) no-repeat; */
    background-size: cover;
    height: 100vh;
}



.child {
    width: 80%;
    border: 2px solid red;
    padding: 150px 150px 45px;
    border-radius: 15px;
    margin: auto;
    margin-top: 250px;
    display: flex;
}

.child-1 {
    display: flex;
    margin-left: -145px;
    margin-top: -145px;
    flex: 3;
}

.ch-11
{
    margin-top: -115px;
    margin-right: -130px;

}

.ch-1 {
    margin-right: 5px;
}

.ch-33 {
    margin-top: 5px;
}

.in4 {
    color: #6c757d;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 5px;
}

.img1,
.img2 {
    margin-left: 5px;
    width: 15.5%;
    border: 2px solid gray;
    padding: 5px 10px 5px 20px;
    border-radius: 15px;
    display: flex;
}

.in1,
.in2 {
    width: 200%;
    display: flex;
}

.img1:hover {
    border: 2px solid red;
}

.img2:hover {
    border: 2px solid red;
}

.P {
    margin-left: 10px;
    margin-top: 25px;
}

.P1 {
    margin-left: 10px;
    margin-top: 30px;
}

.screen {
    color: black;
    font-weight: 700;
}

.img2 {
    margin-top: 10px;
}

.content,
.in1,
.in2,
.VIVO {
    padding-left: 100px;
} 
 
.note {
    margin-top: -80px;
    margin-left: -130px;
    display: flex;
    font-size: 14px;
}

.note-two,
.note-three,
.note-four,
.note-five {
    margin-left: 25px;
}

.note-one:hover,
.note-two:hover,
.note-three:hover,
.note-four:hover,
.note-five:hover {
    cursor: pointer;
    font-weight: bold;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot,
.dotted {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dotted {
    margin-left: 6px;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* My code */
.row2 {
    width: 81.4%;
    height: 500px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.row1 {
    width: 81.4%;
    margin: 0 auto;

}

.row2 img {
    width: 100%;
    transition: 0.5s all ease-in-out;
}

.row2 img:hover {
    transform: scale(1.5);
}

@media (max-width: 1531px) {
    .row2 {
        width: 100%;
    }

    .row1 {
        width: 100%;
    }
}

p {
    font-size: 20px;
}

p1 {
    color: red;
}

.intro {
    max-width: 500px;
}

.bottom-left {
    position: absolute;
    bottom: 10px;
    left: 16px;
    color: #fff;
    font-weight: bold;
    font-size: 26px;
}

.position-04 {
    padding-top: 30px;
    clear: both;
}

.position-04 .blog-home .title-h {
    text-align: center;
    font-size: 30px;
    color: #444;
    font-weight: 700;
    padding-bottom: 20px;
}

.box-1
{
    border-radius: 50%;
    position: relative;
    width: 250px;
    height: 250px;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    transition: 1s;
}

.item
{
    position: relative;
    width: 350px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
    border-radius: 4px;
    margin: 20px;
    box-sizing: border-box;
    overflow: hidden;
    transition: 1s;
}

.row .serrow
{
    justify-content: center;
    display: flex;
}

.item::before
{
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255,.2);
    z-index: 2;
    pointer-events: none;
}

.item img
{
    border-radius: 50%;
    transition: 1s;
}

.item:nth-child(1):hover .box-1
{
    box-shadow: 0 0 0 400px #e91e63;
}

.item:nth-child(2):hover .box-1
{
    box-shadow: 0 0 0 400px #23e629;
}

.item:nth-child(3):hover .box-1
{
    box-shadow: 0 0 0 400px #2196f3;
}

.item:nth-child(4):hover .box-1
{
    box-shadow: 0 0 0 400px #f3f021;
}

#truong
{
    color: #e91e63;
}

#truong-one
{
    color: #23e629;
}

#truong-two
{
    color: #2196f3;
}

#truong-three
{
    color: #f3f021;
}

.item:nth-child(1):hover #truong
{
    color: white;
}

.item:nth-child(2):hover #truong-one
{
    color: white;
}

.item:nth-child(3):hover #truong-two
{
    color: white;
}

.item:nth-child(4):hover #truong-three
{
    color: white;
}

.box-2
{
    position: relative;
    z-index: 1;
    transition: 0.5s;
}

.position-04 .blog-home .item .box-1,
.position-04 .blog-home .item .box-2 {
    overflow: hidden;
}

.position-04 .blog-home .item .box-1 img,
.position-04 .blog-home .item .box-2 img {
    width: 100%;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.position-04 .blog-home .item .box-1 img:hover,
.position-04 .blog-home .item .box-2 img:hover {
    -webkit-transform: rotate(7deg);
    -moz-transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    -o-transform: rotate(7deg);
    transform: rotate(7deg);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.position-04 .blog-home .item .box-2 {
    /* padding: 20px; */
}

.position-04 .blog-home .item .box-2 .title {
    color: #000;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    display: block;
    text-align: center;
}

.position-04 .blog-home .item .box-2 .std {
    color: #000;
    font-weight: bold;
    clear: both;
    display: block;
    padding-top: 10px;
    /* padding-bottom: 20px; */
    font-size: 16px;
    /* text-align: center; */
}

.position-04 .blog-home .item .box-2 .date {
    float: left;
    color: #000;
    font-weight: bold;
    font-size: 12px;
    border-right: 1px solid #000;
    position: absolute;
    padding-right: 12.5%;
}

.position-04 .blog-home .item .box-2 .cmt {
    float: right;
    color: #000;
    font-weight: bold;
    font-size: 12px;
}

.title {
    font-weight: bold;
}

@media (max-width: 1400px) {
    .position-04 .blog-home .item .box-2 .date {
        border-right: none;
    }
}

h1 {
    font-weight: bold;
}

p2 {
    font-size: 15px;
    color: blue;
    font-weight: bold;
}

p3 {
    color: red;
    font-weight: bold;
}

.btn-warning {
    color: white;
}

p4 {
    font-weight: bold;
    font-size: 14px;

}

.bi-search {
    margin-left: 24%;
}

.bkg-color
{
    height: 400px;
    width: 100%;
    padding-top: 500px;
    color: white;
    overflow: hidden;
    position: relative;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/bkg-testimo.png") no-repeat fixed;
    background-size: cover;
}

.bkg-color1
{
    height: 400px;
    width: 100%;
    padding-top: 500px;
    color: white;
    overflow: hidden;
    position: relative;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/samsung-dex-laptop.jpg") no-repeat fixed;
    background-size: cover;
}

.bkg-color2
{
    height: 400px;
    width: 100%;
    padding-top: 500px;
    color: white;
    overflow: hidden;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/nexdock-360-gamer-pc.jpg") no-repeat fixed;
    position: relative;
    background-size: cover;
}

.d-block
{
    margin: auto;
    position: absolute;   
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.carousel-caption h6
{
    margin-bottom: 50px;
}

.hello
{
    margin-bottom: 270px;
}

.sp
{
    text-align: center;
    padding: 10px;
    width: 300px;
    height: 50px;
    border: 1px solid #eaeaea;
    border-radius: 6px;
    margin: auto;
    position: absolute;
    top: 180px;
    display: inline-block;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
}

h6
{
    font-size: 30px;
}

p5
{
    font-weight: bold;
}

.slider-area 
{
    position: relative;
}

p6
{
    font-size: 15px;
    font-weight: 100;
}

.bottom-left-one {
    position: absolute;
    bottom: 60px;
    left: 16px;
    color: #fff;
    font-weight: bold;
    font-size: 26px;
}

.row3 {
    width: 110%;
    height: 200px;
    background-size: cover;
    position: relative;
}

.ser, .ser-one
{
    float: left;
}

.dt
{
    font-weight: bold;
    margin-top: 30px;
}

.review .review-slider
{
    padding-bottom: 2rem;
}

.review .box
{
    padding: 2rem;
    text-align: center;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
    border-radius: .5rem;
}

.review .box img
{
    height: 13rem;
    width: 13rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
}

.review .box h3
{
    color: #333;
    font-size: 1.5rem;
    font-weight: bold;
}

.review .box p
{
    color: #666;
    font-size: 1.2rem;
    padding: 1rem 0;
}

.review .heading
{
    text-align: center;
    padding: 2.5rem 0;
}

.review .heading span
{
    font-size: 3.5rem;
    background: rgba(255, 165, 0, .2);
    color: orange;
    border-radius: .5rem;
    padding: .2rem 1rem;
}

.vc_line
{
    height: 1px;
    border-top: 3px solid #2a2a2a;
    width: 100px;
    margin-bottom: -15px;
}

.lineone
{
    height: 1px;
    border-top: 3px solid #2a2a2a;
    width: 100px;
    float: left;
    margin-top: 13px;
    margin-left: 290px;
}

h10
{
    font-weight: bold;
    font-size: 20px;
    display: block;
    text-align: center;
    width: 370px;
    margin-left: 20px;
    margin-top: 50px;
}

.row .hello
{
    margin-left: 100px;
}

.row .hello p4
{
    font-size: 16px;
    float: right;
    text-decoration-line: line-through;
}
